<div class="w-full my-20 px-20">
  <div class="containAside grid grid-cols-6 items-center justify-center gap-4">
    <aside
      class="col-span-2 p-10 text-center justify-center bg-white bg-opacity-30 rounded-md max-md:my-5"
    >
      <ul class="items-center">
        <li class="flex justify-center items-center">
          <img class="" src="../../../assets/icons8-user-96.png" alt="" />
        </li>
        <li class="my-6 text-sm md:text-xs lg:text-sm text-black">
          {{ emailUser }}
        </li>
        <li>
          <button mat-raised-button color="warn" (click)="signOut()">
            Logout
          </button>
        </li>
      </ul>
    </aside>
    <mg-motivational-quotes
      class="flex col-span-4 justify-center items-center"
    ></mg-motivational-quotes>
  </div>
</div>
