/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


* {margin: 0; padding: 0;}
html, body { height: 100%; }
body {
    height: 100%;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to right, #7b4397, #dc2430);
    background-image: url("assets/motivation_fitness_workout-wallpaper-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
